<h1>Agenda</h1>


<div>
<app-menu (addActivityEvent)="cuandoAddActivity($event)" (removeActivityEvent)="cuandoRemoveActivity($event)" (editActivityEvent)="cuandoEditActivity($event)" (filtrarEventFecha)="cuandoFiltrarFecha($event)" (filtrarEventEstado)="cuandoFiltrarEstado($event)"></app-menu>
</div>


<div>
    
<app-container-actividades [actividades]="actividades" id="mainContainer" [ngStyle]="{'display':mainContainerVisibile ? 'block':'none'}" (actividadRealizada)="cuandoCuandoAddToRealizadas($event)" (actividadBorrada)="cuandoCuandoAddToBorradas($event)" (extraInfo)="cuandoCuandoExtraInfo($event)"></app-container-actividades>
</div>

<div [ngStyle]="{'display':filterContainerVisible ? 'block':'none'}">
<h2>Actividades {{estadoActividad}}</h2>
<button id="inicio" (click)="toInicio()" >Inicio</button>
<app-filtro-actividades  [actividadesFiltradas]="actividadesFiltradas" id="filterContainer" [ngStyle]="{'display':filterContainerVisible ? 'block':'none'}" (actividadRealizada)="cuandoCuandoAddToRealizadas($event)" (actividadBorrada)="cuandoCuandoAddToBorradas($event)" (extraInfo)="cuandoCuandoExtraInfo($event)"></app-filtro-actividades>
</div>