<div class="card" [ngClass]="getCardColor()">
    <div class="card-header">
      {{ actividadFiltrada.titulo }}
    </div>
    <div class="card-body">
      <p id="idDescripcion">{{ actividadFiltrada.descripcion }}</p>
      <p id="idDate">{{ actividadFiltrada.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
      <p id="idEstado" [ngClass]="getEstadoStyle()">{{ actividadFiltrada.estado }}</p>
      <p id="idExtraInfo">{{ actividadFiltrada.extraInfo }}</p>
    </div>
    <div [ngStyle]="{'display':inputInfoVisible? 'block':'none'}">
      
      <button id="btnInfoOk"   (click)="mostrarInputInfo()" (click)="addExtraInfo(refInputInfo.value)">ok</button>
      <input id="inputInfo" placeholder="Añade información extra..." #refInputInfo >
    </div>
    <div>
    <button id="btnDone" (click)="addToRealizadas()">Realizada</button>
    <button id="btnBorrar" (click)="addToBorradas()">Borrar</button>
    <button id="btnInfo" (click)="mostrarInputInfo()">+Info</button>
    </div>
  </div>